html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
}


* {
  font-family: 'NuberNext';
}

@font-face {
  font-family: 'NuberNext';
  src: url('NuberNextCondensed-DemiBold-BF63c8a09b8a92e.otf');
}

/* Mobile */
@media (max-width: 600px) {
    .box {
        flex: 0 0 100%; 
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .box {
    flex: 0 0 50%;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .box {
    flex: 0 0 25%; 
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between; /* space between logo+name and menu button */
  align-items: center;
  padding: 10px 20px;
  background-color: #ea3c3c;
  color: white;
}

.logo img {
  width: 65px;
  height: auto;
}

.name h1 {
  margin-left: 15px;
  font-size: 24px;
}

#showBar {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#showBar.rotated {
  transform: rotate(90deg);
}

/* menu button */
.menu-button img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

/* NAVIGATION */
.nav-container {
  width: 100%;
  background-color: #7a7a7a;
  box-sizing: border-box;
  display: none; /* initially hidden */
}

.nav-row {
  display: flex; /* align boxes in a row */
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  background-color: #3c3c3c;
  border: 1px solid #3c3c3c;
  height: 80px;
  flex: 1 1 150px; /* responsive width */
}

.box a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  line-height: 80px;
}

.box a:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.home-link {
  background-color: #1c1c1c;
}

/* MAIN */
.main-content {
  flex: 1;
  min-height: calc(100vh - 240px); 
  padding: 20px;
}

/* Home content */
.home-content {
  max-width: 1200px;
  margin: 10px auto;
  padding: 40px;
  background-color: rgba(47, 47, 47, 0.7);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.home-content p {
  font-size: 1.05rem;
  line-height: 1.8;
  color: #e0e0e0;
  text-align: justify;
  margin-bottom: 0;
}

.home-content p::first-line {
  color: #f5f5f5;
  font-weight: 500;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #585858;
    color: #ccc;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #333;
    font-size: 14px;
    margin-top: 20px;
}